{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
   {% if category %}
      {{category.description|truncatewords:300}}
   {% else %}
      Welcome to Blissful Bites
        Treat yourself to the finest Chocolates
   {% endif %}
{% endblock %}


{% block title %}
 {% if category %}
    {{category.name}}-Blissful Bites
 {% else %}
    Unwrap a moment of happiness
 {% endif %}
{% endblock %}


{% block content %}
{% if category %}
    <div class="row my_row_class">
       <div class="mx_auto">
      <p>
         <a href="{% url 'choco:allProdCat' %}"> Our Premium chocolate assortments</a>
      </p>
       </div>
    </div>
{% endif %}




<div class="mx_auto">
   {% if category %}
   <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>

<div>
   <h1 class="text-center my_title">{{category.name}}</h1>
   <p class="text-justify">{{category.description}}</p>
</div>

{% else %}
<div>
   <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="Our Chocolate creations" width="1200px">
</div>
<br>

<div>
   <h1 class="text-center my_title">Discover the Blissful World of Chocolate at Blissful Bites</h1>
   <p class="text-justify">Step into the sweet world of Blissful Bites, where chocolate lovers can find an extensive range of artisanal chocolates to delight their taste buds. Our chocolates are carefully crafted using only the finest ingredients and techniques to create a truly blissful experience. From smooth and velvety milk chocolates to rich and intense dark chocolates, we have something to satisfy every chocolate lover's cravings. Come and explore our chocolate haven and indulge in the pure bliss of chocolate at Blissful Bites.</p>
</div>
{% endif %}

<div class="container">
   <div class="row mx_auto">
      {% for product in products.object_list %}
      <div class="my_bottom_margin col-9 col-sm-12 col-md-6 col-lg-4">
         <div class="card text-center" style="min-width:18em;">
            <a href="{{product.get_url}}"> <img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="500px"></a>
          <div class="card-body">
               <h4>{{product.name}}</h4>
               <p>₹{{product.price}}</p>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
    <div class="mx_auto">
         {% if products.paginator.num_pages > 1 %}

       <hr>
        <div class="text-center">
             {% for pg in products.paginator.page_range %}
             <a href="?page={{pg}}" class="btn btn-light btn-sm> {% if products.number == pg %} active {% endif %} ">{{pg}}</a>
              {% endfor %}
        </div>
         {% endif %}

    </div>
    <br>
</div>
{% endblock %}