{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
   {{product.description}}
{% endblock %}

{% block title %}
{% if category %}
   {{product.name}}-Blissful Bites
{% endif %}
{% endblock %}


{% block content %}
<div class="row my_prod_row_class">
  <div class="mx_auto">
    <p>
      <a href="{% url 'choco:allProdCat' %}">Home</a>|<a href="{{product.category.get_url}}">{{product.category}}</a>|{{product.name}}
    </p>
  </div>
</div>
<div class="container">
<br>


<div class="row">
    <div class="col-12 col-sm-6 col-md-12 col-lg-6 text-center">
        <div style="min-width:18rem">
          <img href="" src="{{product.image.url}}" alt="{{product.name}}" width="500px">
        </div>
    </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
            <h1 class="my_prod_title">{{product.name}}</h1>
            <p>₹{{product.price}}</p>
            <h2 class="my_title">Product Description </h2>
            <p class="text-justify my_prod_text">{{product.description}}</p>
            {% if product.stock <= 0 %}
            <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
            {% else %}
            <a class="btn btn-secondary " href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}